html{
  background-color: #f4f4f4;
}

body{
  background-color: #f4f4f4;
  font-family: SF-Pro-Display-Regular
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

.successAlert{
  background-color: rgba(71, 212, 71, 0.564);
  padding: 10px 20px;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
  /* margin: 10px; */
  /* border-radius: 10px; */
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.errorAlert{
  background-color: rgba(160, 13, 13, 0.564);
  padding: 20px;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button{
  /* width: 10%; */
  border: none;
  background-color: #1A357A;
  color: white;
  padding: 20px 60px;
  margin-top: 20px;
  /* border-radius: 10px; */
  font-weight: bold;
}



.row{
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid grey; */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow:  10px 10px 55px -7px rgba(204, 204, 204, 0.75);
  
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

.scrolling-card {
  flex: 0 0 auto;
  background-color: grey;
  height: 70vh;
  width: 80vw;
  margin: 20px;
}

.addImage{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: white; */

  /* background-color: #61dafb; */

}

.addImageCard{
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;

}

.options{
  width: 100%;
}

.options-header{
  display: flex ;
  justify-content: space-between;

}

.iconContainer{
  display: flex;
  border: 2px solid grey;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
  justify-content: space-around;
  align-items: center;
}

.flex-two{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.checkboxItem{
  width: 40%;
}

.options-info{
  background-color: white;
  /* flex-grow: 1; */
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.options-card{
  display: flex;
  align-items: center;
  /* padding: 20px; */
  background-color: white;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dash-options-card{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-dash-options-card{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.delete{
  background-color: rgba(255, 0, 0, 0.658);
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: red;
}

.deleteAllImages{
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
}
/* .image-item{
background-color: #61dafb;

} */


.waitButton{
  width: 100%;
  border: none;
  background-color: #1a357a6c;
  color: white;
  padding: 20px 60px; 
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  font-weight: bold;
}

.subbutton{
  width: 100%;
  border: none;
  background-color: #1A357A;
  color: white;
  padding: 20px 60px;
  margin-top: 20px;
  /* border-radius: 10px; */
  font-weight: bold;
}
/* 
.ButtonBottom{
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  position: fixed;
  bottom: 0; 
} */

.catCard{
  padding: 10px;
  border: none;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;


}

.ellipse{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #1A357A;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  overflow: hidden;

}

.eCard{
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.igPost{
  width: 28vw;
  height: 28vw;
  object-fit: cover;
  margin-right: 2vw; ;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;

}

.productImage{
  width: 100%;
  height: 70vh;
  background-color: rgb(238, 238, 238);
  overflow: hidden;
}

.fillImage{
overflow: hidden;
object-fit: cover;
width: 100%;
}

.cartItem{
  display: flex;
  margin-top: 5vh;
}

.stickBottom{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buybutton{
  width: 90%;
  background-color: blue;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
}

.footbar{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.shopHolder{
  padding: 15px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

.controlBox{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.loadingPage{
  height: 100vh;
  display: flex;
  text-align: center;
  /* background-color: #c4c4c4; */
  align-items: center;
  width: 100vw;
}

.activePost{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tile {
  /* background-image: url(https://i.mycdn.me/i?r=AyEEjNrmxSDHlzM8JxmgKLLZ2hKX-mTHVrbYKBWOz8Aftw); */
  background-position: center;
  background-size: cover;

  width: 27vw;
  height: 27vw;
  /* margin-bottom: 2%; */
  &:last-child:nth-child(3n+2) {
    margin-right: 34%;
  }
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}




.ellipse{
  background-color: #282c34;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
