body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'NexaBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: "SF-Pro-Display-Regular"
}

/* @font-face {
  font-family: "NexaBold";
  src: local("NexaBold"),
   url("./fonts/nexa/NexaBold.otf") format("truetype");
  font-weight: bold;
  } */
  
@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: local("SF-Pro-Display-Regular"),
   url("./fonts/sf/SF-Pro-Display-Regular.otf") format("truetype");
  font-weight: bold;
  }